@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-image: url('../../image/fon.jpg');
  -webkit-background-size: cover;
  background-size: cover;
}

.dws-wrapper{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.dws-form{
  background-color: rgba(255,255,255, 0.2);
  padding: 10px;
  width: 330px;
}

.dws-form a {
  text-decoration: none;
  transition: .5s;
  color: #298cad;
}

.dws-form a:hover{
  color: #36d2ff;
}

.dws-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dws-form input{
  display: block;
  width: 100%;
}

.tab-form {
  background-color: #fff;
  display: none;
  padding: 30px 20px 20px;
}

.tab-form.active{
  display: block;
}

.del {
  display: none;
}

label.tab {
  color: #ffffff;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  cursor: pointer;
}

label.tab.active{
  background-color: #fff;
  color: #1d5f75;
}

.input {
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #e9eaea;
  padding: 12px 14px;
  box-sizing: border-box;
  margin-bottom: 22px;
  color: #1e8da6;
  outline: none;
}

.input:focus{
  border: none;
  border-bottom: 2px solid #298cad;
  transition: 1s;
}
::-webkit-input-placeholder {color: #c4c9c9;}
::-moz-placeholder          {color: #298cad;}
:-moz-placeholder           {color: #298cad;}
:-ms-input-placeholder      {color: #298cad;}

a.button{
  display: none;
  background: #298cad;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 46px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.social{
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.social a{
  width: 40px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
}

.social + a{
  margin-top: 10px;
  display: block;
  font-size: 12px;
  text-align: center;
}

.doc,
.doc a{
  color: #858585;
  text-align: justify;
  line-height: 23px;
}
.recover {
  display: flex;
  justify-content: center;
}
.doc a:hover{
  text-decoration: none;
  color: #298cad;
}

input.doc{
    height: 35px;
    width: 20px;
    margin-right: 15px;
}
